<section id="landing" class="relative w-full h-screen overflow-hidden text-white">
    <video autoplay muted loop class="absolute top-0 left-0 w-full h-full object-cover z-[-1]">
        <source src="/Illuminnate landing video 2.mp4" type="video/mp4">
    </video>
    
    <div class="absolute -top-24 left-10 z-10">
        <img src="/2.png" alt="Illuminnate Music Logo" class="w-80 h-auto">
    </div>
    
    <div class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-50 text-white p-4">
        <header class="flex flex-col items-center">
            <nav>
                <ul class="list-none p-0 m-0 flex space-x-10 text-white">
                    <li class="my-8 font-andada-pro-italic"><a href="#home" class="block transform transition-transform duration-300 hover:scale-125 text-2xl">Home</a></li>
                    <li class="my-8 font-orbitron"><a href="#djsets" class="block transform transition-transform duration-300 hover:scale-125 text-2xl">Dj Sets</a></li>
                    <li class="my-8 font-orbitron"><a href="#shop" class="block transform transition-transform duration-300 hover:scale-125 text-2xl">Shop</a></li>
                    <li class="my-8 font-orbitron"><a href="#contact" class="block transform transition-transform duration-300 hover:scale-125 text-2xl">Contact</a></li>
                </ul>
            </nav>

            <div class="flex justify-center items-start h-full">
                <!-- Lista de videos de YouTube -->
                <div class="w-1/3 p-4 overflow-y-auto h-full">
                    <h2 class="text-2xl mb-4">Playlist</h2>
                    <ul class="list-none p-0">
                        <li class="mb-4">
                            <a href="https://www.youtube.com/watch?v=RZfH7hAYqyU" target="_blank" class="block p-2 bg-gray-800 hover:bg-gray-700 rounded">Diplo - Live in Lençóis Maranhenses National Park</a>
                        </li>
                        <li class="mb-4">
                            <a href="https://www.youtube.com/watch?v=91wIFm-xKyI" target="_blank" class="block p-2 bg-gray-800 hover:bg-gray-700 rounded">Diplo b2b Hugel - Live in Brooklyn (Full Set)</a>
                        </li>
                        <li class="mb-4">
                            <a href="https://www.youtube.com/watch?v=GYQ0T_KMlxE" target="_blank" class="block p-2 bg-gray-800 hover:bg-gray-700 rounded">Diplo - Live in Brooklyn (Full Set)</a>
                        </li>
                        <li class="mb-4">
                            <a href="https://www.youtube.com/watch?v=gnA13qIsEpc" target="_blank" class="block p-2 bg-gray-800 hover:bg-gray-700 rounded">Diplo & Mau P feat. Gunna - Receipts (Official Visualizer)</a>
                        </li>
                        <li class="mb-4">
                            <a href="https://www.youtube.com/watch?v=OgBrNJEYlOA" target="_blank" class="block p-2 bg-gray-800 hover:bg-gray-700 rounded">Diplo - Live in Rio 2024 (Full Set)</a>
                        </li>
                        <!-- Agrega más enlaces según sea necesario -->
                    </ul>
                </div>
                <!-- Video principal de YouTube -->
                <div class="w-2/3 p-4">
                    <iframe width="100%" height="500" src="https://www.youtube.com/embed/A3dYIUW56LU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            
        </header>

        <div class="absolute top-8 right-8 flex gap-4">
            
                <a href="https://open.spotify.com/intl-es/artist/0coO5IwMkWjM10vEgZx7KP" target="_blank" class="icon-link">
                    <img src="/spotify.svg" alt="Spotify" class="w-8 h-8 transition-transform duration-300 filter invert hover:scale-125"/> 
                </a>
           
           
                <a href="https://www.youtube.com/@illuminnatemusic" target="_blank" class="icon-link">
                    <img src="/youtube.svg" alt="Youtube" class="w-8 h-8 transition-transform duration-300 filter invert hover:scale-125"/> 
                </a>
           
            
                <a href="https://www.instagram.com/illuminnatemusic/" target="_blank" class="icon-link">
                    <img src="/instagram.svg" alt="Instagram" class="w-8 h-8 transition-transform duration-300 filter invert hover:scale-125"/> 
                </a>
        
           
                <a href="https://www.facebook.com/illuminnatemusic" target="_blank" class="icon-link">
                    <img src="/facebook.svg" alt="Facebook" class="w-8 h-8 transition-transform duration-300 filter invert hover:scale-125"/> 
                </a>
         
        
                <a href="#mailing" class="icon-link">
                    <img src="/envelope.svg" alt="Mailing List" class="w-8 h-8 transition-transform duration-300 filter invert hover:scale-125"/>
                </a>
            
        </div>
    </div>
</section>